# For Loop

In [1]:
# for döngüsü iterable ile çalışır.
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [2]:
liste_3=[1,2,3,4]
for i in liste_3:
    print(i**2)

1
4
9
16

In [3]:
"a" in "hello"

False

In [4]:
for i in (1,2,3,4):
    print(f"{i} karesi: {i**2}")

1 karesi: 1
2 karesi: 4
3 karesi: 9
4 karesi: 16

In [7]:
intToStr1=2535
str(intToStr1)

'2535'

In [9]:
names= ["ali","veli","cem","can"]

for i in names:
    print(i.capitalize(), end='-')

Ali-Veli-Cem-Can-

In [19]:
str2="Techpro"
for i in str2:
    print(i, end="-")

T-e-c-h-p-r-o-

In [20]:
dict1={"name": "dilek", "age": 26, "job": "datascientist"}

In [21]:
# for loop içinde dict kullanılırsa key ile işlem yapar
for i in dict1:
    print(i)

name
age
job

In [23]:
# value ler ile işlem yapmak için values() ile çağrılır.
for i in dict1.values():
    print(i)

dilek
26
datascientist

In [24]:
# her elemanı için items() kullanılır. sonuç tuple döner
for i in dict1.items():
    print(i)

('name', 'dilek')
('age', 26)
('job', 'datascientist')

In [26]:
#veya değişkenleride ayırabiliriz
for i, j in dict1.items():
    print(f"{i} : {j}")
    print(i, j, sep=" : ")

name : dilek
name : dilek
age : 26
age : 26
job : datascientist
job : datascientist

### print f ile tab lı yazdırım

In [27]:
dict2={"name": "dilek", "surname": "yılmaz", "age": 26, "job": "datascientist"}

In [40]:
for i, j in dict2.items():
    print(f"key:{i:>10}, value:{j:^15}")

key:      name, value:     dilek
key:   surname, value:    yılmaz
key:       age, value:      26
key:       job, value: datascientist

In [41]:
"techpro".center(20)

'      techpro       '

In [42]:
"techpro".rjust(12)

'     techpro'

In [43]:
"techpro".ljust(12)

'techpro     '

### soru: 15 defa kaçıncı kez olduğuda yazacak şekilde bir str yazdır

In [52]:
ceza="Hoca bize ceza verdi"
count=1
for i in range(15):
    print(f"{count}. {ceza} ")
    count+=1

1. Hoca bize ceza verdi
2. Hoca bize ceza verdi
3. Hoca bize ceza verdi
4. Hoca bize ceza verdi
5. Hoca bize ceza verdi
6. Hoca bize ceza verdi
7. Hoca bize ceza verdi
8. Hoca bize ceza verdi
9. Hoca bize ceza verdi
10. Hoca bize ceza verdi
11. Hoca bize ceza verdi
12. Hoca bize ceza verdi
13. Hoca bize ceza verdi
14. Hoca bize ceza verdi
15. Hoca bize ceza verdi

### Ödev 1: Kullanıcıdan 1 ve 9 dahil bir sayı isteyin,  bu sayıların çarpım tablosunu olşturun. 8 girildi 8*1=8, 8*2=16

In [3]:
sayı=int(input("1 ile 10 arsında (10 hariç) bir sayı giriniz."))
if 1<= sayı <=9:
    for i in range (1,11):
        print(f"{sayı} x {i} = {sayı*i}")
else: print('Girdiğiniz sayı 1 ile 9 arasında değildir.')

Girdiğiniz sayı 1 ile 9 arasında değildir.

### Ödev 2: Kullanıcıdan 1 ve 9 dahil bir sayı isteyin,  bu sayıların çarpım tablosunu olşturun. Kullanıcı  doğru değer girmez ise tekrar isteyin

In [7]:

while True:
    sayı=int(input("1 ile 10 arsında (10 hariç) bir sayı giriniz."))
    
    if 1<= sayı <=9:
        for i in range (1,11):
            print(f"{sayı} x {i:<2} = {sayı*i:>3}")
        break
    else: 
        print('Girdiğiniz sayı 1 ile 9 arasında değildir.Tekrar sayı girin.')

5 x 1  =   5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10 =  50

### deneme hakkı 3 olsun

In [9]:
sayaç=0
while True:
    sayı=int(input("1 ile 10 arsında (10 hariç) bir sayı giriniz."))
    sayaç+=1
    if 1<= sayı <=9:
        for i in range (1,11):
            print(f"{sayı} x {i:<2} = {sayı*i:>3}")
        break
    else: 
        print('Girdiğiniz sayı 1 ile 9 arasında değildir.Tekrar sayı girin.') 
    if sayaç==3:
        print('3 deneme hakkınız bitti')
        break

Girdiğiniz sayı 1 ile 9 arasında değildir.Tekrar sayı girin.
Girdiğiniz sayı 1 ile 9 arasında değildir.Tekrar sayı girin.
Girdiğiniz sayı 1 ile 9 arasında değildir.Tekrar sayı girin.
3 deneme hakkınız bitti

### 1 dn 5 ye kadar olan sayıların  toplamı

In [15]:
toplam=0
for i in range(1,51):
    toplam+=i
print (toplam)

1275

In [11]:
sum(range(1,51))

1275

In [12]:
sum([1,2,3,4,5])

15

In [13]:
sum((1,2,3,4,5))

15

In [14]:
# sum fonksiyonunun default değeri 0 dır. parantez içerisinde bir sayı belirtilirse onun üzerine toplar
sum([1,2,3], 100)

106

### birden 50 ye kadar çift sayıları topla

In [16]:
toplam = 0
for i in range(0,51,2):
    toplam+=i
print(toplam)

650

In [17]:
sum(range(0,51,2))

650

## break and continue

In [18]:
liste1=[1,2,3,4,5]

### 3 ve 3 ün katında kod bitsin. geri kalanda karesini alsın

In [ ]:
for i in liste1:
    if i%3==0:
        break
    else:
        print(i**2)

### 3 ve 3 ün katında kod devam etsin. diğer durumlarda sayıların karesini yazdır

In [19]:
for i in liste1:
    if i%3==0:
        continue
    else:
        print(i**2)

1
4
16
25

In [21]:
# çift sayıların toplamı 1 50 arası
toplam=0
for i in range(1,51):
    if i % 2 == 1:
        continue
    else:
        toplam +=i
print("Çift Sayıların Toplamı : ",toplam)

Çift Sayıların Toplamı :  650

# zip () fonksiyonu

In [ ]:
# zip iterable lerle çalışır ve iterable sonuç döner

In [22]:
a= ["apple", "orange", "lemon"]
b= [1, 2, 3]
zip(a,b)

In [23]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [25]:
x="Techpro"
y="Ahmet"
z="elif"
list(zip(x,y,z))
# en az sayıda elemanı olana göre  zipleme yapıyor.

[('T', 'A', 'e'), ('e', 'h', 'l'), ('c', 'm', 'i'), ('h', 'e', 'f')]

In [26]:
dict(zip(a,b)) # ditc() ile kullanılırsa dict türüne çevirebiliriz

{'apple': 1, 'orange': 2, 'lemon': 3}

In [27]:
name=["irem","betül","Tülay"]
age=[25,26,27]
job=["data_scientist","pyhton_devoloper","data_analyst"]

In [28]:
list(zip(name,age,job))

[('irem', 25, 'data_scientist'),
 ('betül', 26, 'pyhton_devoloper'),
 ('Tülay', 27, 'data_analyst')]

In [29]:
for i,j,k in zip(name,age,job):
    print (f"name: {i:<6}, age: {j}, job: {k}")

name: irem  , age: 25, job: data_scientist
name: betül , age: 26, job: pyhton_devoloper
name: Tülay , age: 27, job: data_analyst

# enumerate()

In [30]:
name

['irem', 'betül', 'Tülay']

In [31]:
enumerate(name)

In [32]:
list(enumerate(name))

[(0, 'irem'), (1, 'betül'), (2, 'Tülay')]

In [33]:
list(enumerate(name, 100))

[(100, 'irem'), (101, 'betül'), (102, 'Tülay')]

### soru: list içindeki kayıp sayıları bulun

In [34]:
number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

### 1. yöntem

In [48]:
max1=max(number_list)
min1=min(number_list)

kayıpSayılar=[]

for i in range(min1,max1):
    if i not in number_list:
        kayıpSayılar.append(i)
print(kayıpSayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

### 2. yöntem

In [53]:
max1=max(number_list)
min1=min(number_list)

kayıpSayılar=[]

for i in range(min1,max1):
    if i in number_list:
        continue
    kayıpSayılar.append(i)
print(kayıpSayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

### 3. yöntem

In [52]:
# kümeler ile 

max1=max(number_list)
min1=min(number_list)

fullSet=set(range(min1,max1))
number_set= set(number_list)

fullSet - number_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

#### ÖDEV: Bir markete gittiniz. Markette her ürünün bir kod numarası var. 1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde. Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız. Çıktı: Teşekkür Ederiz... Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.

In [1]:
ürünler = {1 : "Elma", 2 : "Portakal", 3 : "Çilek", 4 : "Yumurta", 5 : "Havuç", 6 : "Armut"}

print("Marketimize Hoş geldiniz")

print("""Ürünlerimiz:
1 : "Elma",
2 : "Portakal",
3 : "Çilek", 
4 : "Yumurta",
5 : "Havuç",
6 : "Armut"     
      """)

sepet = []

while True:

    x = input("Almak istediğiniz ürünün kodunu giriniz. Ürün eklemeyi bitirdiğinizde q tuşuna basınız.").lower()

    if x != "q":
        sepet.append(ürünler[int(x)])
        print(f"Sepete {ürünler[int(x)]} eklendi")

    elif x == "q":
        print("Bizi tercih ettiğiniz için teşekkürler")
        print(f"Almış olduğunuz ürünler: {sepet}")
        break

Marketimize Hoş geldiniz
Ürünlerimiz:
1 : "Elma",
2 : "Portakal",
3 : "Çilek",
4 : "Yumurta",
5 : "Havuç",
6 : "Armut"

Sepete Çilek eklendi
Sepete Armut eklendi
Sepete Portakal eklendi
Sepete Elma eklendi
Bizi tercih ettiğiniz için teşekkürler
Almış olduğunuz ürünler: ['Çilek', 'Armut', 'Portakal', 'Elma']