# Lambda

### filter()

In [1]:
filter(None,"hello")

In [2]:
list(filter(None,"hello")) # bütün true ifadeleri getirir

['h', 'e', 'l', 'l', 'o']

In [3]:
list(filter(None,[1,2,0,True,False,"Techpro"]))

[1, 2, True, 'Techpro']

In [4]:
def find_odds(x):
    if x%2!=0:
        return True
    else:
        return False

In [5]:
find_odds(7)

True

In [15]:
list(filter(find_odds,range(0,10))) # önce fonksiyon girilir, sonra iterable collection verilir. ancak görmek için list metodu gerekir

[1, 3, 5, 7, 9]

In [19]:
isimler_listesi=["serhat","metehan","cennet","Bilge","sedat"] # 5 karakterli olanları bulalım

def len5(x):
    if len(x)==5:
        return True

In [20]:
list(filter(len5,isimler_listesi))

['Bilge', 'sedat']

In [21]:
def find_armstrong_2(x):
    
    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [23]:
list(filter(find_armstrong_2,range(10,10000)))

[153, 370, 371, 407, 1634, 8208, 9474]

In [36]:
set(filter(list,"galatasaray")) # set veya diğer collection tipide olabilir

{'a', 'g', 'l', 'r', 's', 't', 'y'}

## lambda()

In [37]:
def karalerToplamı(x,y):
    return x**2+y**2

In [38]:
(lambda x,y: x**2+y**2)(3,4)

25

In [39]:
(lambda x:len(x)==5)("sedat")

True

In [40]:
list(filter((lambda x:len(x)==5),isimler_listesi))  # fonksiyonu lambda ile tanımladık

['Bilge', 'sedat']

In [49]:
(lambda x: x[::-1])("mehmet")

'temhem'

### palidrom kontrolü

In [50]:
(lambda x: x[::-1]== x)("ey edip adanada pide ye")

True

### pandas yüklemek için : pip install pandas komutuyla indiriyoruz ve projeye : import pandas as pd ile import ediyoruz

In [4]:
import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
df = pd.read_csv("adult_eda.csv")

In [6]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [10]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [11]:
(lambda x: x**2 if x%2==0 else x*2)(12)

144